<h1 style="text-align: center;">Add to Item</h1>
<hr>
<div class="container">
<form [formGroup]="this.usersservice.additemsform" (ngSubmit)="add()">
  <input type="hidden" formControlName="$key">
    <div class="form-group">
      <label for="exampleInputtitle">Title</label>
      <input type="text" class="form-control" id="exampleInputtitle" placeholder="title" formControlName="title">
      <span class="red-error" *ngIf="formControls.title.invalid && formControls.title.touched">
        Title Name is required </span>
      </div>
    <div class="form-group">
      <label for="exampleInputicon">Icon</label>
      <input type="text" class="form-control" id="exampleInputicon" placeholder="icon" formControlName="icon">
      <span class="red-error" *ngIf="formControls.icon.invalid && formControls.icon.touched">
        icon is required </span>
   </div>
<div class="form-group">
    <label for="exampleInputDate">Start date:</label>
    <input type="date" class="form-control" id="exampleInputDate" placeholder="startdate" formControlName="startdate"
       min="2018-01-01" max="2022-12-31">
       <span class="red-error" *ngIf="formControls.startdate.invalid && formControls.startdate.touched">
        Start date is required </span>

    </div>
    <div class="form-group">
      <label for="exampleInputDate">End date:</label>
      <input type="date" class="form-control" id="exampleInputDate2" placeholder="enddate" formControlName="enddate"
         min="2018-01-01" max="2025-12-31">
         <span class="red-error" *ngIf="formControls.enddate.invalid && formControls.enddate.touched">
          End date is required </span>
  </div>
     <button type= "submit"  class="btn btn-primary" (click)="add()">Add</button>
     &nbsp;
     
  </form>
  </div>
<hr>

  
